body {
	margin: 0px;
	padding: 0px;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	background: #f98;
}

#app {
	max-width: 900px;
    margin: 0 auto;
    border: 1px solid #000;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}

ol {
	margin-top: 0;
}

ol li {
	font-size: 18px;
    margin-bottom: 10px;
    padding: 5px;
    padding-right: 0;
    border: 1px solid #000;
}

ol li a {
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    float: right;
    margin-top: -2px;
    margin-right: 3px;
    border: 1px solid #000;
    padding: 5px;
    background: darkslategray;
}

input[type="text"] {
    height: 30px;
    border-radius: 2px;
    background: lightcyan;
    color: #000;
    font-size: 20px;
    text-align: center;
    width: 80%;
}

input[type="button"] {
    width: 180px;
    height: 37px!important;
    display: inline-block;
    font-size: 20px;
    border: 1px solid #000;
    color: #fff;
    background: mediumvioletred;
    cursor: pointer;
}

#erro {
    color: #f22;
    display: block;
    margin-top: 10px;
    font-weight: bold;
}